.no-menu-card{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    text-align: center;
}
.no-menu-msg{
    padding-bottom: 2vh;
}
.menu-table{
    max-height: 73vh;
}



.container{
    display: flex;
    place-content: space-between ;
    flex-direction: row ;
}
.auto-complete{
    display: flex;
    flex-direction: row;
    place-content: space-between
}