  
  .time-and-button{
    line-height: 4;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  .morning{
    display: flex;
    flex-direction: column;
  }

  .meal-text{
    min-width: 10vh;
  }

  .to-text{
      min-width: 5vh;
      text-align: center;
  }

  .added-dish{
    display: flex;
    flex-direction: row;
    align-content: space-between;

  }
  .delete{
    color:black;
    padding: 0 !important;
  }

  .add-menu-dialog{
    width: 100%;
    min-width: 44vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }